.card {
  max-width: 200px;
  background-color: white;
}

.card__wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.card__label {
  color: black;
  font-weight: bold;
}

.card__image {
  max-width: 40px;
  width: 100%;
}

.card__priceLabel {
  margin-top: 20px;
  text-align: center;
}
