.card {
  max-width: 280px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  --price-theme: #f2746dff;
}

.card__wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  padding: 20px 10px;
}

.card__label {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.card__image {
  max-width: 40px;
  width: 100%;
  margin-top: 40px;
}

.card__price-label {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  color: var(--price-theme);
  font-family: Poppins;
  padding-bottom: 10px;
  border-bottom: 2px solid #f3f1f1;
}

.card__benefits {
  color: black;
  padding-left: 20px;
  font-size: 0.7rem;
}

.card__benefits-label {
  color: var(--price-theme);
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.1rem;
}
.card__benefit-icon {
  width: 15px;
  height: 15px;
  padding: 0 2px;
  border-radius: 50%;
  background-color: var(--price-theme);
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
